<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增Android模板 - 欧司朗视频切割系统</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrapValidator.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欧司朗视频切割系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a target="blank" href="{{ctx.contextPath}}/admin/login">高级设置</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ctx.contextPath}}/task/split/list">任务管理</a></li>
                <li class="active submenu open">
                    <a href="#">通用管理</a>
                    <ul style="display: block;">
                        <li><a href="{{ctx.contextPath}}/manage/sub_system/list">ECUE设备</a></li>
                        <li><a href="{{ctx.contextPath}}/manage/split_templates/list">文件切割模板</a></li>
                        <li class="active"><a href="{{ctx.contextPath}}/manage/android_template/list">Android实时流模板</a></li>
                    </ul>
                </li>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h1>Android实时流模板
                    <small>新增</small>
                </h1>
            </div>
            <form class="form-horizontal" method="post" id="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">模板名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  name="name" placeholder="模板名称" value="{{#androidRealplayTemplate}}{{#name}}{{.}}{{/name}}{{/androidRealplayTemplate}}" required>
                        {{#nameErr}}<span class="error">{{.}}</span>{{/nameErr}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">视频切割区域</label>
                    <div class="col-sm-10">
						<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">新增切割区域</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="table-responsive">
			                <table class="table table-striped">
			                    <thead>
			                    <tr>
			                        <!--<th>#ID</th> -->
			                        <th>ECUE主机</th>
			                        <th>左上角横坐标</th>
			                        <th>左上角纵坐标</th>
			                        <th>区域宽度</th>
			                        <th>区域高度</th>
			                        <th>操作</th>
			                    </tr>
			                    </thead>
			                    <tbody id="area_div">
			                    </tbody>
			                </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputClosingDate" class="col-sm-2 control-label">签名界面图选择</label>
                    <div class="col-sm-3">
				        <div class="thumbnail">
				            <img id="file1" src="{{ctx.contextPath}}/css/img/default.jpg" alt="效果图">
				            <div class="caption text-center">
				                <p>
				                    <label title="效果图选择" class="btn btn-primary fileinput-button" style="width:200px">
				                 		<i class="glyphicon glyphicon-upload"></i>
				                    	<span>签名界面效果图</span>
				               			<input type="file" name="file1" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,image/bmp">
				                     </label>
				                </p>
				            </div>
				        </div>
                    </div>
                    <div class="col-sm-3">
				        <div class="thumbnail">
				            <img id="file2" src="{{ctx.contextPath}}/css/img/default.jpg" alt="缩略图">
				            <div class="caption text-center">
				                <p>
				                    <label title="缩略图选择" class="btn btn-primary fileinput-button" style="width:200px">
				                 		<i class="glyphicon glyphicon-upload"></i>
				                    	<span>签名界面缩略图</span>
				               			<input type="file" name="file2" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,image/bmp">
				                     </label>
				                </p>
				            </div>
				        </div>
                    </div>
                    <div class="col-sm-3">
				        <div class="thumbnail">
				            <img id="file3" src="{{ctx.contextPath}}/css/img/default.jpg" alt="签名框图片">
				            <div class="caption text-center">
				                <p>
				                    <label title="签名框图片选择" class="btn btn-primary fileinput-button" style="width:200px">
				                 		<i class="glyphicon glyphicon-upload"></i>
				                    	<span>签名界面签名框图片</span>
				               			<input type="file" name="file3" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg,image/bmp">
				                     </label>
				                </p>
				            </div>
				        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">签名界面背景视频</label>
                    <div class="col-sm-10">
	                    <label class="btn btn-primary fileinput-button video_label" style="width:200px" data-placement="auto right" data-trigger="manual">
	                 		<i class="glyphicon glyphicon-upload"></i>
	                    	<span>视频文件选择</span>
	               			<input type="file" name="file4" accept="video/*">
	                     </label>
                    </div>
                </div>
                                
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="desc" placeholder="模板描述" value="{{#androidRealplayTemplate}}{{#desc}}{{.}}{{/desc}}{{/androidRealplayTemplate}}" required>
                        {{#descErr}}<span class="error">{{.}}</span>{{/descErr}}
                    </div>
                </div>
                                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="保 存"/>
                        <a href="{{ctx.contextPath}}/manage/android_template/list" class="btn btn-default">返 回</a>
                    </div>
                </div>
                <input type="hidden" name="areaJson" id="areaJson"/>
            </form>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增切割区域
				</h4>
			</div>
			<div class="modal-body form-horizontal">
				<!-- 内容 -->
				<div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">ECUE主控名称</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="subSystem_id">
                        	{{#subSystems}}
                        	<option value="{{id}}">{{name}} [{{ip}}]</option>
                        	{{/subSystems}}
                        </select>                        
                        {{#subSystems}}
                        <input type="hidden" id="sub_id_{{id}}" width-data="{{width}}" height-data="{{height}}">
                        {{/subSystems}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">左上角横坐标</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"  name="x" placeholder="左上角横坐标" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">左上角纵坐标</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="y" placeholder="左上角纵坐标" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEditingEnd" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
						<div class="checkbox">
					        <label>
								<input type="checkbox" id="copyFromSubSystem">复制ECUE主控的宽度和高度
					        </label>
				      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEditingEnd" class="col-sm-3 control-label">区域宽度</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="width" placeholder="区域宽度" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputClosingDate" class="col-sm-3 control-label">区域高度</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="height" placeholder="区域高度" required>
                    </div>
                </div>
				<!-- 内容 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="setArea()">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrapValidator.min.js"></script>
<script>
$(function() {
	//选择文件后提交
    $("input[type='file']").on("change", function() {
    	var name = $(this).attr("name");
        showPreview($(this), name);
    });

    $("input[name='file4']").on("change", function() {
		var fileName = $(this).val();
		fileName = fileName.substr(fileName.lastIndexOf("\\")+1);
		$('.video_label').attr('data-original-title',fileName);
		$('.video_label').tooltip("show");
    });
    $("#form").bootstrapValidator();
});

//Modal验证销毁重构
$('#myModal').on('hide.bs.modal', function() {
	$(".modal-content").data('bootstrapValidator').destroy();
});

function showPreview(source,name) { 
    var file = $(source).get(0).files[0]; 
    if(window.FileReader) {
        var fr = new FileReader(); 
        fr.onloadend = function(e) { 
            $("#"+name).attr("src",e.target.result); 
        }; 
        fr.readAsDataURL(file); 
    }else{
    	//浏览器不支持图片预览 
    }
}

function setWH(isChecked){
	if(isChecked){
		$('input[name="width"]').val($('#sub_id_'+$('select[name="subSystem_id"]').val()).attr('width-data'));
		$('input[name="height"]').val($('#sub_id_'+$('select[name="subSystem_id"]').val()).attr('height-data'));
	}else{
		$('input[name="width"]').val('');
		$('input[name="height"]').val('');
	}
}
$('#copyFromSubSystem').change(function(){
	setWH($(this).prop("checked"));
});
$('select[name="subSystem_id"]').change(function(){
	setWH($('#copyFromSubSystem').prop("checked"));
});

var area_json = [];
function setArea(){
	$(".modal-content").bootstrapValidator('validate');
	if($(".modal-content").data('bootstrapValidator').isValid()){
		var subSystem_id = $('select[name="subSystem_id"]').val();
		var subSystem_name = $('select[name="subSystem_id"]').find("option:selected").text();
		var x = $('input[name="x"]').val();
		var y = $('input[name="y"]').val();
		var width = $('input[name="width"]').val();
		var height = $('input[name="height"]').val();
		var index = parseInt(Math.random() * 10000); 
		var newArea = "<tr id='tr_"+index+"'><td>" + subSystem_name + "</td><td>";
		newArea += x + "</td><td>";
		newArea += y + "</td><td>";
		newArea += width + "</td><td>";
		newArea += height + "</td><td>";
		newArea += "<a href='#' onclick='deleteArea("+index+")'>删除</a></td></tr>";
		$('#area_div').append(newArea);
		
		//隐藏并清空
		$('#myModal').modal('hide');
		$('select[name="subSystem_id"] option:first').prop("selected", 'selected');  
		$('#copyFromSubSystem').prop("checked",'');
		$('input[name="x"]').val('');
		$('input[name="y"]').val('');
		$('input[name="width"]').val('');
		$('input[name="height"]').val('');
		
		//存入json
		area_json.push({"index1":index,"x":x,"y":y,"w":width,"h":height,"subSystem":{"id":subSystem_id}});
		$('#areaJson').val(JSON.stringify(area_json));
	}
}

function deleteArea(index){
	//从列表中删除
	$('#tr_'+index).remove();
	//从json中删除 
	$.each(area_json, function(n, obj){
		if (typeof(obj) != 'undefined' && obj.index1 == index) {
			area_json.splice(n, 1);
		}
	})
	$('#areaJson').val(JSON.stringify(area_json));
}
</script>
</body>
</html>
