<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#refresh}}<meta http-equiv="refresh" content="{{refresh}}">{{/refresh}}
    <title>分发任务列表 - 欧司朗视频切割软件</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrapValidator.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欧司朗视频切割软件 <small>OSRAM video splitter</small></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#">
            		<span class="badge" id="cpu">CPU: 00.00%</span>
            		<span class="badge" id="mem">MEM: 00.00%</span>
            		<span class="badge" id="disk">DISK: 00.00%</span>
            	</a></li>
                <li><a target="blank" href="{{ctx.contextPath}}/admin/login">高级设置</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">任务管理</a>
                    <ul style="display: block;">
                        <li><a href="{{ctx.contextPath}}/task/split/list">切割任务</a></li>
                        <li class="active"><a href="{{ctx.contextPath}}/task/dispatch/list">分发任务</a></li>
                        <li><a href="{{ctx.contextPath}}/task/realplay/list">实时文件播放任务</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">通用管理</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h1>分发任务
                    <small>列表</small>
                	<a href="{{ctx.contextPath}}/task/dispatch/new" type="button" class="btn btn-primary"> 新增 </a>
	                <div class="btn-group pull-right">
						<button type="button" class="btn btn-primary" id="refresh_btn" onclick="refresh()"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
						<!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">切换下拉菜单</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="refresh(30)">自动刷新(30s)</a></li>
							<li><a href="#" onclick="refresh(60)">自动刷新(60s)</a></li>
							<li class="divider"></li>
							<li><a href="#" onclick="refresh()">手动刷新</a></li>
						</ul> -->
					</div>
                </h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>分发任务名称</th>
                        <th>切割任务名称</th>
                        <th>状态</th>
                        <th>返回结果</th>
                        <th>开始时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dispatchTasks}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{taskName}}</td>
                        <td>{{#splitTask}}{{splitTask.taskName}}{{/splitTask}}</td>
                        <td id="status_{{id}}" data-status="{{status}}" class="{{#isFail}}error{{/isFail}}">{{statusText}}</td>
                        <td id="errMsg_{{id}}">{{#errMsg}}{{.}}{{/errMsg}}</td>
                        <td>{{#startTime}}{{.}}{{/startTime}}</td>
                        <td>
                        	<form id="delForm_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/dispatch/{{id}}/delete" onsubmit="return delCheck()">
	                            <a href="{{ctx.contextPath}}/task/dispatch/{{id}}/view" data-toggle="modal" data-target="#myModal">详细</a>
	                            <span id="ff_{{id}}">{{#isDispatch}}<a href="#" data-toggle="modal" data-target="#againModal" data-id="{{id}}">再次分发</a>{{/isDispatch}}</span>
	                            <span id="failed_ff_{{id}}">{{#isFailedDispatch}}<a href="#" data-toggle="modal" data-target="#failedAgainModal" data-id="{{id}}">失败重试</a>{{/isFailedDispatch}}</span>
	                            <span id="sc_{{id}}">{{#isDelete}}<a href="#" onclick="$('#delForm_{{id}}').submit()">删除</a>{{/isDelete}}</span>
                            </form>
                        </td>
                    </tr>
                    {{/dispatchTasks}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:950px">
		<div class="modal-content"></div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="againModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">分发条件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
              		<input type="hidden" name="taskId" id="taskId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="again()">提交</button>
            </div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="failedAgainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">分发条件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
              		<input type="hidden" name="taskId2" id="taskId2">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="failAgain()">提交</button>
            </div>
		</div>
	</div>
</div>

<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrapValidator.min.js"></script>
<script>
var againModalData;
var failAgainModalData;
$(function(){
	loopStatus();
	setRefreshText({{#refresh}}{{.}}{{/refresh}});
	
	$('#againModal').find(".modal-content").bootstrapValidator();
	againModalData = $('#againModal').find(".modal-content").data('bootstrapValidator');
	
	$('#againModal').on('show.bs.modal', function (event) {
		$("#taskId").val($(event.relatedTarget).data("id"));
	});
	
	$('#failedAgainModal').find(".modal-content").bootstrapValidator();
	failAgainModalData = $('#againModal').find(".modal-content").data('bootstrapValidator');
	
	$('#failedAgainModal').on('show.bs.modal', function (event) {
		$("#taskId2").val($(event.relatedTarget).data("id"));
	});
	
	//Modal验证销毁重构
	$('#againModal').on('hide.bs.modal', function() {
		$('#againModal').find(".alert").hide();
		againModalData.resetForm();
	});
	$('#failedAgainModal').on('hide.bs.modal', function() {
		$('#failedAgainModal').find(".alert").hide();
		failAgainModalData.resetForm();
	});
});
function delCheck(){
	return confirm("确认要删除此记录？");
}
function again(){
	againModalData.validate();
	if(againModalData.isValid()){
		var id = $('#taskId').val();
		var taskPwd = $.md5($('#againModal').find("input[name='taskPassword']").val());
	    $.ajax({
	        url: "/task/dispatch/"+id+"/again",
	        type: "POST",
	        async: true,
	        data:{taskPassword:taskPwd},
	        success: function(data){
	            if(data == "1"){
	            	alert("发送成功！");
	            	location.reload();
	            }else{
	            	$('#againModal').find(".alert").show();
	            	$('#againModal').find("#msg").html(data);
	            }
	        }
	    });
	}
}

function failAgain(){
	failAgainModalData.validate();
	if(failAgainModalData.isValid()){
		var id = $('#taskId2').val();
		var taskPwd = $.md5($('#failedAgainModal').find("input[name='taskPassword']").val());
	    $.ajax({
	        url: "/task/dispatch/"+id+"/failedAgain",
	        type: "POST",
	        async: true,
	        data:{taskPassword:taskPwd},
	        success: function(data){
	            if(data == "1"){
	            	alert("发送成功！");
	            	location.reload();
	            }else{
	            	$('#failedAgainModal').find(".alert").show();
	            	$('#failedAgainModal').find("#msg").html(data);
	            }
	        }
	    });
	}
}

function setRefreshText(s){
	if(typeof(s) != 'undefined'){
		$("#refresh_btn").html("自动刷新("+s+"s)");
		$("#refresh_btn").attr("onclick","refresh("+s+")");
	}
}
function refresh(s){
	var url = "/task/dispatch/list"
	if(typeof(s) != 'undefined'){
		url = "/task/dispatch/list?a="+s
	}
	window.location.href = url;
}

function loopStatus(){
	$("td[id^='status_']").each(function(i,object){
		var id = $(this).attr("id").split("_")[1];
		var status = $(this).attr("data-status")+"";
		$.ajax({
	        url: "/task/dispatch/"+id+"/entity",
	        success: function(data){
	        	var obj = $.parseJSON(data);
	        	if(status != (obj.status+"")){ //变化了、去更新 
	        		$('#status_'+id).attr("data-status", obj.status);
	        		$('#status_'+id).html(obj.statusText);
	        		$('#errMsg_'+id).html(obj.errMsg);
	        		if(obj.statusText.indexOf("失败") != -1){
	        			$('#status_'+id).addClass("error");
	        		}else{
	        			$('#status_'+id).removeClass("error");
	        		}
	        		//操作区
	        		if(obj.isDispatch){
	        			$('#ff_'+id).html('<a href="#" data-toggle="modal" data-target="#againModal" data-id="'+id+'">再次分发</a>');
	        		}else{
	        			$('#ff_'+id).html("");
	        		}
	        		if(obj.isFailedDispatch){
	        			$('#failed_ff_'+id).html('<a href="#" data-toggle="modal" data-target="#failedAgainModal" data-id="'+id+'">失败重试</a>');
	        		}else{
	        			$('#failed_ff_'+id).html("");
	        		}
	        		if(obj.isDelete){
	        			$('#sc_'+id).html("<a href='#' onclick=\"$('#delForm_"+id+"').submit()\">删除</a>");
	        		}else{
	        			$('#sc_'+id).html("");
	        		}
	        	}
	        }
		});
	});
	setTimeout("loopStatus()", 3000);
}
</script>
</body>
</html>
