<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>历史播放任务 - 欧司朗视频切割软件</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap-multiselect.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欧司朗视频切割软件 <small>OSRAM video splitter</small></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#">
            		<span class="badge" id="cpu">CPU: 00.00%</span>
            		<span class="badge" id="mem">MEM: 00.00%</span>
            		<span class="badge" id="disk">DISK: 00.00%</span>
            	</a></li>
                <!-- <li><a target="blank" href="{{ctx.contextPath}}/admin/login">高级设置</a></li> -->
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">任务管理</a>
                    <ul style="display: block;">
                        <li><a href="{{ctx.contextPath}}/task/split/list">视频切割</a></li>
                        <li><a href="{{ctx.contextPath}}/task/dispatch/list">视频分发</a></li>
                        <li class="active"><a href="{{ctx.contextPath}}/task/realplay/list">实时播放</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">配置中心</a></li>
                <li><a href="{{ctx.contextPath}}/admin/login">管理中心</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h2>历史播放任务
                    <small>列表</small>
	                <div class="btn-group pull-right">
						<button type="button" class="btn btn-primary" id="refresh_btn" onclick="refresh()"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
						<!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">切换下拉菜单</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="refresh(30)">自动刷新(30s)</a></li>
							<li><a href="#" onclick="refresh(60)">自动刷新(60s)</a></li>
							<li class="divider"></li>
							<li><a href="#" onclick="refresh()">手动刷新</a></li>
						</ul> -->
					</div>
                </h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#ID <a id="sort_0" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>文件名称 <a id="sort_1" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>切割模板 <a id="sort_2" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>播放状态 <a id="sort_3" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>返回结果 <a id="sort_4" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>循环播放 <a id="sort_5" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>最大播放时长 <a id="sort_6" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>开始时间 <a id="sort_7" href="#" class="text-ccc glyphicon glyphicon-chevron-down"></a></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#realplayTasks}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{fileResource.fileName}}</td>
                        <td>{{splitTemplate.name}}</td>
                        <td id="status_{{id}}" data-status="{{status}}" data-repeate="{{#repeate}}true{{/repeate}}" class="{{#isFail}}error{{/isFail}}">{{statusText}}</td>
                        <td id="errMsg_{{id}}">{{#errMsg}}{{.}}{{/errMsg}}</td>
                        <td>{{#repeate}}是{{/repeate}}{{^repeate}}否{{/repeate}}</td>
                        <td>{{#maxPlayTimeStr}}{{.}}{{/maxPlayTimeStr}}{{^maxPlayTimeStr}}-{{/maxPlayTimeStr}}</td>
                        <td>{{#startTime}}{{.}}{{/startTime}}</td>
                        <td>
                        	<form id="delForm1_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/realplay/{{id}}/delete" onsubmit="return delCheck()">
	                            <span id="js_{{id}}">{{#allowStop}}<a href="#" data-toggle="modal" data-target="#stopModal" data-id="{{id}}">结束播放</a>{{/allowStop}}</span>
	                            <span id="bf_{{id}}">{{#allowReplay}}<a href="#" data-toggle="modal" data-target="#replayModal" data-id="{{id}}" data-templatetype="{{#splitTemplate.type}}{{.}}{{/splitTemplate.type}}" data-repeate="{{#repeate}}true{{/repeate}}">再次播放</a>{{/allowReplay}}</span>
	                            <span id="sc_{{id}}">{{#isDelete}}<a href="#" onclick="$('#delForm1_{{id}}').submit()">删除</a>{{/isDelete}}</span>
                            </form>
                        </td>
                    </tr>
                    {{/realplayTasks}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
            <a href="{{ctx.contextPath}}/task/realplay/list" class="btn btn-default">&lt返 回</a>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="replayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" style="width:750px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">播放条件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
                </div>
                <div class="form-group" id="ecueBox2">
                    <label for="inputName" class="col-sm-3 control-label">选择ECUE设备</label>
                    <div class="col-sm-9">
                    	<select id="subSystemIds2" name="subSystemIds2" multiple="multiple" required>
                        	{{#subSystems}}
                        	<option value="{{id}}">{{name}} [{{ip}}]</option>
                        	{{/subSystems}}
                        </select>
                    </div>
                </div>
                <div id="max_time" class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">最大播放时长</label>
                    <div class="col-sm-9">
                   		<div class="input-group">
                        	<select name="hhTime" class="form-control" required>
                        		{{#hhs}}<option value="{{.}}">{{.}}</option>{{/hhs}}
                        	</select>
                        	<span class="input-group-addon">小时</span>
                        	<select name="mmTime" class="form-control" required>
                        		{{#mms}}<option value="{{.}}">{{.}}</option>{{/mms}}
                        	</select>
                        	<span class="input-group-addon">分钟</span>
                        	<select name="ssTime" class="form-control" required>
                        		{{#sss}}<option value="{{.}}">{{.}}</option>{{/sss}}
                        	</select>
                        	<span class="input-group-addon">秒</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="checkbox" name="repeate">循环播放
                    </div>
                    <input type="hidden" name="taskId" id="taskId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="replay()">提交</button>
            </div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">停止条件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
                </div>
              	<input type="hidden" name="stopTaskId" id="stopTaskId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="stopPlay()">提交</button>
            </div>
		</div>
	</div>
</div>
<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrapValidator.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap-multiselect.min.js"></script>
<script>
var replayModalData;
var stopModalData;
$(function(){
	loopStatus();
	setRefreshText({{#refresh}}{{.}}{{/refresh}});
	
	$('#replayModal').find(".modal-content").bootstrapValidator();
	$('#stopModal').find(".modal-content").bootstrapValidator();
	replayModalData = $('#replayModal').find(".modal-content").data('bootstrapValidator');
	stopModalData = $('#stopModal').find(".modal-content").data('bootstrapValidator');

	$('#replayModal').on('show.bs.modal', function (event) {
		$("#taskId").val($(event.relatedTarget).data("id"));
		if($(event.relatedTarget).data("templatetype")+"" === '1'){
			$(this).find("#ecueBox2").show();
		}else{
			$(this).find("#ecueBox2").hide();
		}
		if($(event.relatedTarget).data("repeate")+"" === 'true'){
			$(this).find("input[name='repeate']").prop("checked",true);
		}else{
			$(this).find("input[name='repeate']").prop("checked",false);
		}
		initMaxPlayTime('#replayModal');
	});
	$('#stopModal').on('show.bs.modal', function (event) {
		$("#stopTaskId").val($(event.relatedTarget).data("id"));
	});
	//Modal验证销毁重构
	$('#replayModal').on('hide.bs.modal', function() {
		$(this).find(".alert").hide();
		$('#subSystemIds2').multiselect('deselectAll', false);
    	$('#subSystemIds2').multiselect('updateButtonText');
		replayModalData.resetForm();
	});
	$('#stopModal').on('hide.bs.modal', function() {
		$(this).find(".alert").hide();
		stopModalData.resetForm();
	});
    $('#subSystemIds2').multiselect({nonSelectedText: '未选择'});
	$('#replayModal').find("input[name='repeate']").on('change', function(){
		//initMaxPlayTime('#replayModal');
	});
    initSort();
})
function initMaxPlayTime(modalId){
	$(modalId).find("select[name='mmTime']").val("30");//初始化30分钟
	/* if($(modalId).find("input[name='repeate']").prop('checked')){
		$(modalId).find("#max_time").show(200);
	}else{
		$(modalId).find("#max_time").hide(200);
	} */
} 

function stopPlay(){
	stopModalData.validate();
	if(stopModalData.isValid()){
		var url = "/task/realplay/" + $('#stopTaskId').val() + "/stop";
		var taskPwd = $.md5($('#stopModal').find("input[name='taskPassword']").val());
	    $.ajax({
	        url: url,
	        type: "POST",
	        data:{taskPassword:taskPwd},
	        success: function(data){
	            if(data == "1"){
	            	alert("请求已发送！");
	            	location.reload();
	            }else{
	            	$('#stopModal').find(".alert").show();
	            	$('#stopModal').find("#msg").html(data);
	            }
	        }
	    });
	}
}

function replay(){
	replayModalData.validate();
	if(replayModalData.isValid()){
		var url = "/task/realplay/" + $('#taskId').val() + "/replay";
		var repeate = $('#replayModal').find("input[name='repeate']").prop("checked");
		var hh = $('#replayModal').find("select[name='hhTime']").val();
		var mm = $('#replayModal').find("select[name='mmTime']").val();
		var ss = $('#replayModal').find("select[name='ssTime']").val();
		var taskPwd = $.md5($('#replayModal').find("input[name='taskPassword']").val());
		var subSystemIds = $("#subSystemIds2").val();
	    $.ajax({
	        url: url,
	        type: "POST",
	        traditional:true,
	        data:{repeate:repeate,hh:hh,mm:mm,ss:ss,taskPassword:taskPwd,subSystemIds:subSystemIds},
	        success: function(data){
	            if(data == "1"){
	            	alert("请求已发送！");
	            	location.reload();
	            }else{
	            	$('#replayModal').find(".alert").show();
	            	$('#replayModal').find("#msg").html(data);
	            }
	        }
	    });
	}
}
function delCheck(){
	return confirm("确认要删除此记录？");
}

function setRefreshText(s){
	if(typeof(s) != 'undefined'){
		$("#refresh_btn").html("自动刷新("+s+"s)");
		$("#refresh_btn").attr("onclick","refresh("+s+")");
	}
}
function refresh(s){
	var url = "/task/realplay/history"
	if(typeof(s) != 'undefined'){
		url = "/task/realplay/history?a="+s
	}
	window.location.href = url;
}

function initSort(){
	var c_order = '{{#order}}{{.}}{{/order}}';
	var c_sort = '{{#sort}}{{.}}{{/sort}}';
	c_order = c_order===''?"0":c_order;
	c_sort = c_sort===''?'down':c_sort;
	$("a[id^='sort_']").each(function(){
		//init
		var id = $(this).attr("id");
		var index = id.split("_")[1];
		if(index+'' === c_order){
			$(this).attr("class","glyphicon glyphicon-chevron-" + c_sort);
		}else{
			$(this).attr("class","text-ccc glyphicon glyphicon-chevron-down");
		}
		//bind
		$(this).bind('click',function(){
			var url = "/task/realplay/history?";
			var cls = $(this).attr("class");
			var sort = "down";
			if(cls.indexOf("ccc") == -1 && cls.indexOf("down") != -1){
				sort = "up";
			}
			window.location.href = url + "order=" + index + "&sort=" + sort;
		});
	});
}

function loopStatus(){
	$("td[id^='status_']").each(function(i,object){
		var id = $(this).attr("id").split("_")[1];
		var status = $(this).attr("data-status")+"";
		$.ajax({
	        url: "/task/realplay/"+id+"/entity",
	        success: function(data){
	        	var obj = $.parseJSON(data);
	        	if(status != (obj.status+"")){ //变化了、去更新 
	        		$('#status_'+id).attr("data-status", obj.status);
	        		$('#status_'+id).html(obj.statusText);
	        		$('#errMsg_'+id).html(obj.errMsg);
	        		if(obj.statusText.indexOf("失败") != -1){
	        			$('#status_'+id).addClass("error");
	        		}else{
	        			$('#status_'+id).removeClass("error");
	        		}
	        		//操作区	                            
	        		if(obj.allowStop){
	        			$('#js_'+id).html('<a href="#" data-toggle="modal" data-target="#stopModal" data-id="'+id+'">结束播放</a>');
	        		}else{
	        			$('#js_'+id).html("");
	        		}
	        		if(obj.allowReplay){
	        			$('#bf_'+id).html('<a href="#" data-toggle="modal" data-target="#replayModal" data-id="'+id+'" data-repeate="'+obj.repeate+'">再次播放</a>');
	        		}else{
	        			$('#bf_'+id).html("");
	        		}
	        		if(obj.isDelete){
	        			$('#sc_'+id).html("<a href='#' onclick=\"$('#delForm1_"+id+"').submit()\">删除</a>");
	        		}else{
	        			$('#sc_'+id).html("");
	        		}
	        	}
	        }
		});
	});
	setTimeout("loopStatus()", 3000);
}
</script>
</body>
</html>
