<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文件播放任务列表 - 欧司朗视频切割系统</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrapValidator.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欧司朗视频切割系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a target="blank" href="{{ctx.contextPath}}/admin/login">高级设置</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">任务管理</a>
                    <ul style="display: block;">
                        <li><a href="{{ctx.contextPath}}/task/split/list">切割任务</a></li>
                        <li><a href="{{ctx.contextPath}}/task/dispatch/list">分发任务</a></li>
                        <li class="active"><a href="{{ctx.contextPath}}/task/realplay/list">实时文件播放任务</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">通用管理</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h2>最近播放任务
                    <small>列表</small>
                </h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <!--<th>#ID</th>  -->
                        <th>文件名称</th>
                        <th>切割模板</th>
                        <th>播放状态</th>
                        <th>循环播放</th>
                        <th>开始时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#realplayTasks}}
                    <tr>
                        <!--<td>{{id}}</td>-->
                        <td>{{fileResource.fileName}}</td>
                        <td>{{splitTemplate.name}}</td>
                        <td class="{{#isFail}}error{{/isFail}}">{{statusText}}</td>
                        <td>{{#repeate}}是{{/repeate}}{{^repeate}}否{{/repeate}}</td>
                        <td>{{#startTime}}{{.}}{{/startTime}}</td>
                        <td>
                        	<form id="delForm1_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/realplay/{{id}}/delete" onsubmit="return delCheck()">
	                            {{#allowStop}}<a href="#" onclick="stopPlay('{{id}}')">结束播放</a>{{/allowStop}}
	                            {{#allowReplay}}<a href="#" data-toggle="modal" data-target="#replayModal" data-id="{{id}}" data-repeate="{{#repeate}}true{{/repeate}}">再次播放</a>{{/allowReplay}}
	                            {{#isDelete}}<a href="#" onclick="$('#delForm1_{{id}}').submit()">删除</a>{{/isDelete}}
                            </form>
                        </td>
                    </tr>
                    {{/realplayTasks}}
                    </tbody>
                </table>
                {{#showMore?}}<div class="text-right"><a href="{{ctx.contextPath}}/task/realplay/history">>>更多历史任务</a></div>{{/showMore?}}
            </div>
                        
            <div class="page-header"></div>
                <h2>文件管理
                    <small>列表</small>
                    <a href="{{ctx.contextPath}}/task/realplay/new" type="button" class="btn btn-primary">上传一个新的视频</a>
                </h2>
            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="active">
                        <!--<th>#ID</th>  -->
                        <th>文件名称</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#fileResources}}
                    <tr>
                        <!--<td>{{id}}</td>-->
                        <td>{{fileName}}</td>
                        <td>{{fileDesc}}</td>
                        <td>
                        	<form id="delForm2_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/realplay/file/{{id}}/delete" onsubmit="return delCheck()">
	                            <a href="#" data-toggle="modal" data-target="#goplayModal" data-id="{{id}}">发起播放</a>
	                            <a href="#" onclick="$('#delForm2_{{id}}').submit()">删除</a>
                            </form>
                        </td>
                    </tr>
                    {{/fileResources}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="replayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">播放条件</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="checkbox" name="repeate">循环播放
                    </div>
                    <input type="hidden" name="taskId" id="taskId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="replay()">提交</button>
            </div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="goplayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">播放条件</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">选择切割模板</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="splitTemplateId" required>
                        	{{#templates}}
                        	<option value="{{id}}">{{name}}</option>
                        	{{/templates}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">任务密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="checkbox" name="repeate">循环播放
                    </div>
                </div>
             	<input type="hidden" name="fileId" id="fileId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="goplay()">提交</button>
            </div>
		</div>
	</div>
</div>
<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrapValidator.min.js"></script>
<script>
$(function() {
	$('#replayModal').on('show.bs.modal', function (event) {
		$("#taskId").val($(event.relatedTarget).data("id"));
		if($(event.relatedTarget).data("repeate")+"" === 'true'){
			$(this).find("input[name='repeate']").prop("checked",true);
		}else{
			$(this).find("input[name='repeate']").prop("checked",false);
		}
	});
	$('#goplayModal').on('show.bs.modal', function (event) {
		$("#fileId").val($(event.relatedTarget).data("id"));
	});
	//Modal验证销毁重构
	$('#replayModal').on('hide.bs.modal', function() {
		var valid = $(this).find(".modal-content").data('bootstrapValidator');
		if(typeof(valid) === 'object'){
			valid.destroy();
		}
	});
	$('#goplayModal').on('hide.bs.modal', function() {
		var valid = $(this).find(".modal-content").data('bootstrapValidator');
		if(typeof(valid) === 'object'){
			valid.destroy();
		}
	});
});
function delCheck(){
	return confirm("确认要删除此记录？");
}
function stopPlay(id){
	var url = "/task/realplay/" + id + "/stop";
    $.ajax({
        url: url,
        type: "POST",
        success: function(data){
            if(data == "1"){
            	alert("发起任务成功！");
            	location.reload();
            }else{
            	alert(data);
            }
        }
    });
}
function replay(){
	$('#replayModal').find(".modal-content").bootstrapValidator('validate');
	if($('#replayModal').find(".modal-content").data('bootstrapValidator').isValid()){
		var url = "/task/realplay/" + $('#taskId').val() + "/replay";
		var repeate = $('#replayModal').find("input[name='repeate']").prop("checked");
		var taskPwd = $('#replayModal').find("input[name='taskPassword']").val();
	    $.ajax({
	        url: url,
	        type: "POST",
	        data:{repeate:repeate,taskPassword:taskPwd},
	        success: function(data){
	            if(data == "1"){
	            	alert("发送成功！");
	            	location.reload();
	            }else{
	            	alert(data);
	            }
	        }
	    });
	}
}
function goplay(){
	$('#goplayModal').find(".modal-content").bootstrapValidator('validate');
	if($('#goplayModal').find(".modal-content").data('bootstrapValidator').isValid()){
		var url = "/task/realplay/" + $('#fileId').val() + "/goplay";
		var templateId = $('#goplayModal').find("select[name='splitTemplateId']").val();
		var repeate = $('#goplayModal').find("input[name='repeate']").prop("checked");
		var taskPwd = $('#goplayModal').find("input[name='taskPassword']").val();
	    $.ajax({
	        url: url,
	        type: "POST",
	        data:{templateId:templateId,repeate:repeate,taskPassword:taskPwd},
	        success: function(data){
	            if(data == "1"){
	            	alert("发起任务成功！");
	            	location.reload();
	            }else{
	            	alert(data);
	            }
	        }
	    });
	}
}
</script>
</body>
</html>
