<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理后台</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分主控系统 - 管理后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>BIJIE</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ctx.contextPath}}/sub_system/list">分主控系统配置</a></li>
                <li><a href="{{ctx.contextPath}}/file_area/list">文件切割及播放</a></li>
                <li class="active"><a href="{{ctx.contextPath}}/realtime_area/list">PAD实时流配置</a></li>
                <li><a href="{{ctx.contextPath}}/status/task">任务状态</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p/><p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}"
               role="alert"><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h1>PAD实时流配置
                    <small>列表</small>
                </h1>
            </div>

            <div class="form-group">
                <a href="{{ctx.contextPath}}/realtime_area/new" type="button" class="btn btn-primary"> 新增 </a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <!--<th>#ID</th> -->
                        <th>分主控名称</th>
                        <th>左上角横坐标</th>
                        <th>左上角纵坐标</th>
                        <th>区域宽度</th>
                        <th>区域高度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#realtimeAreas}}
                    <tr>
                        <!--<td>{{id}}</td> -->
                        <td>{{#subSystem.name}}{{subSystem.name}}{{/subSystem.name}}</td>
                        <td>{{x}}</td>
                        <td>{{y}}</td>
                        <td>{{width}}</td>
                        <td>{{height}}</td>
                        <td>
                        	<form class="form-horizontal" method="post" action="{{ctx.contextPath}}/realtime_area/{{id}}/delete" onsubmit="return delCheck()">
	                            <a type="button" class="btn btn-warning btn-xs" href="{{ctx.contextPath}}/realtime_area/{{id}}/edit">编辑</a>
	                            <button type="submit" class="btn btn-danger btn-xs">删除</button>
                            </form>
                        </td>
                    </tr>
                    {{/realtimeAreas}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
                        
            <div class="page-header">
                <h3>PAD背景图案
                    <small>文件上传</small>
                </h3>
            </div>
            <form class="form-horizontal" action="{{ctx.contextPath}}/realtime_area/upload" method="post" enctype="multipart/form-data" id="fileForm">
                <div class="form-group" id="upload_div">
                    <label title="PAD背景图案上传" class="btn btn-primary fileinput-button" style="width:200px">
                 		<i class="glyphicon glyphicon-upload"></i>
                    	<span>PAD背景图案上传</span>
               			<input type="file" name="file">
                     </label>
                </div>
               	<span id="loading"></span>
        	</form>
        </div>
    </div>
</div>
</div>
<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script>
function delCheck(){
	return confirm("确认要删除此记录？");
}
$(function() {
    //选择文件后提交
    $(".fileinput-button").on("change", "input[type='file']", function() {
        $('#fileForm').submit();
        $("#upload_div").hide();
        $("input[name='file']").attr('disabled','disabled');
        $('#loading').html(" 上传中...<img src='{{ctx.contextPath}}/css/img/small-loading.gif'>");
    });
})
</script>
</body>
</html>
