<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#refresh}}<meta http-equiv="refresh" content="{{refresh}}">{{/refresh}}
    <title>切割任务列表 - 欧司朗照明视频切分软件</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
           <div><span class="logo"><img src="/css/img/logo-1.png" height="18" width="82"></span><span class="logo-s"> | </span><span class="logo-2"> Video Splitter</span><span class="logo-3"> 照明视频切分软件</span></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#">
            		<!-- <span class="badge" id="cpu">CPU: 00.00%</span> -->
            		<!-- <span class="badge" id="mem">MEM: 00.00%</span> -->
            		<!-- <span class="badge" id="disk">DISK: 00.00%</span> -->
            	</a></li>
                <!-- <li><a target="blank" href="{{ctx.contextPath}}/admin/set">高级设置</a></li> --><li class="logout"><a href="#" onclick="logout()">[注销]</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">控制中心</a>
                    <ul style="display: block;">
                        <li class="active"><a href="{{ctx.contextPath}}/task/split/list">视频切割</a></li>
                        <li><a href="{{ctx.contextPath}}/task/dispatch/list">视频分发</a></li>
                        <li><a href="{{ctx.contextPath}}/task/realplay/list">实时播放</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">配置中心</a></li>
                <li><a href="{{ctx.contextPath}}/admin/set">管理中心</a></li>
            </ul>
            <footer class="footer navbar-fixed-bottom">
			</footer>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h1>切割任务
                    <small>列表</small>
                    <a href="{{ctx.contextPath}}/task/split/new" type="button" class="btn btn-primary"> 新增 </a>
	                <div class="btn-group pull-right">
						<button type="button" class="btn btn-primary" id="refresh_btn" onclick="refresh()"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
						<!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">切换下拉菜单</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="refresh(30)">自动刷新(30s)</a></li>
							<li><a href="#" onclick="refresh(60)">自动刷新(60s)</a></li>
							<li class="divider"></li> 
							<li><a href="#" onclick="refresh()">手动刷新</a></li>
						</ul> -->
					</div>
                </h1>
            </div>


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>切割任务名称</th>
                        <th>模板名称</th>
                        <th>状态</th>
                        <th>返回结果</th>
                        <th>开始时间</th>
                        <!-- <th>结束时间</th> -->
                        <!-- <th>任务描述</th> -->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#splitTasks}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{taskName}}</td>
                        <td>{{splitTemplate.name}}</td>
                        <td id="status_{{id}}" data-status="{{status}}" class="{{#isFail}}error{{/isFail}}">{{statusText}}</td>
                        <td id="errMsg_{{id}}">{{#errMsg}}{{.}}{{/errMsg}}</td>
                        <td>{{#startTime}}{{.}}{{/startTime}}</td>
                        <!-- <td>{{#endTime}}{{.}}{{/endTime}}</td> -->
                        <!-- <td>{{#taskDesc}}{{.}}{{/taskDesc}}</td> -->
                        <td>
                        	<form id="delForm_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/split/{{id}}/delete" onsubmit="return delCheck()">
	                            <a href="{{ctx.contextPath}}/task/split/{{id}}/view" data-toggle="modal" data-target="#myModal">详细</a>
	                            <span id="ff_{{id}}">{{#isDispatch}}<a href="{{ctx.contextPath}}/task/split/{{id}}/dispatch" target="_self">分发</a>{{/isDispatch}}</span>
	                            <span id="xz_{{id}}">{{#isDispatch}}<a href="#" data-toggle="modal" data-target="#downloadModal" data-id="{{id}}">下载</a>{{/isDispatch}}</span>
	                            <span id="sc_{{id}}">{{#isDelete}}<a href="#" onclick="$('#delForm_{{id}}').submit()">删除</a>{{/isDelete}}</span>
                            </form>
                        </td>
                    </tr>
                    {{/splitTasks}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:950px">
		<div class="modal-content"></div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">打包下载分割文件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">状态:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" id="status">正在获取文件...<img src='{{ctx.contextPath}}/css/img/small-loading.gif'></p>
                        <a href="#" id="download_btn" class="btn btn-primary" style="display:none">下 载</a>
                        <input type="hidden" name="taskId" id="taskId">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
		</div>
	</div>
</div>

<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script><script src="{{ctx.contextPath}}/js/bijie.js"></script>
<script>
$(function(){
	loopStatus();
	setRefreshText({{#refresh}}{{refresh}}{{/refresh}});

	$('#downloadModal').on('show.bs.modal', function (event) {
		$("#taskId").val($(event.relatedTarget).data("id"));
		goPackage();
	});
	$('#downloadModal').on('hide.bs.modal', function() {
		$(this).find(".alert").hide();
    	$('#status').html("");
		$('#download_btn').hide();
		$('#download_btn').attr("href", "#");
	});
})
function delCheck(){
	return confirm("删除切割任务记录将删除原始文件和切割后的文件，建议先下载备份后再删除，确认删除？");
}

function setRefreshText(s){
	if(typeof(s) != 'undefined'){
		$("#refresh_btn").html("自动刷新("+s+"s)");
		$("#refresh_btn").attr("onclick","refresh("+s+")");
	}
}

function refresh(s){
	var url = "/task/split/list"
	if(typeof(s) != 'undefined'){
		url = "/task/split/list?a="+s
	}
	window.location.href = url;
}

function goPackage(){
	$.ajax({
        url: "/task/split/"+$('#taskId').val()+"/package",
        type: "POST",
        success: function(data){
            if(data != "-1"){
            	loadPackageStauts(data);
            }else{
	        	$('#status').html("文件已经不存在");
            }
        }
    });
}

function loadPackageStauts(uuid){
	$.ajax({
        url: "/job/"+uuid,
        success: function(data){
            if(data != "-1"){
	        	var obj = $.parseJSON(data);
	        	if(obj.state == 1){
		        	$('#status').html(obj.status);
	        		$('#download_btn').attr("href", "/download/"+obj.taskId+"/0");
	        		$('#download_btn').show();
	        	}else if(obj.state == 0){
		        	$('#status').html(obj.status + " <img src='/css/img/small-loading.gif'>");
	        		setTimeout("loadPackageStauts('"+uuid+"')", 2000);
	        	}else{
		        	$('#status').html(obj.status);
	        	}
            }else{
	        	$('#status').html("任务已经不存在");
            }
        }
    });
}

function loopStatus(){
	$("td[id^='status_']").each(function(i,object){
		var id = $(this).attr("id").split("_")[1];
		var status = $(this).attr("data-status")+"";
		$.ajax({
	        url: "/task/split/"+id+"/entity",
	        success: function(data){
	        	var obj = $.parseJSON(data);
	        	if(status != (obj.status+"")){ //变化了、去更新 
	        		$('#status_'+id).attr("data-status", obj.status);
	        		$('#status_'+id).html(obj.statusText);
	        		$('#errMsg_'+id).html(obj.errMsg);
	        		if(obj.statusText.indexOf("失败") != -1){
	        			$('#status_'+id).addClass("error");
	        		}else{
	        			$('#status_'+id).removeClass("error");
	        		}
	        		//操作区
	        		if(obj.isDispatch){
	        			$('#ff_'+id).html("<a href='{{ctx.contextPath}}/task/split/"+id+"/dispatch'>分发</a>");
	        			$('#xz_'+id).html("<a href='#' data-toggle='modal' data-target='#downloadModal' data-id='"+id+"'>下载</a>");
	        		}else{
	        			$('#ff_'+id).html("");
	        			$('#xz_'+id).html("");
	        		}
	        		if(obj.isDelete){
	        			$('#sc_'+id).html("<a href='#' onclick=\"$('#delForm_"+id+"').submit()\">删除</a>");
	        		}else{
	        			$('#sc_'+id).html("");
	        		}
	        	}
	        }
		});
	});
	setTimeout("loopStatus()", 3000);
}
</script>
</body>
</html>
