<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#refresh}}<meta http-equiv="refresh" content="{{refresh}}">{{/refresh}}
    <title>切割任务列表 - 欧司朗视频切割系统</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欧司朗视频切割系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#">
            		<span class="badge" id="cpu">CPU: 00.00%</span>
            		<span class="badge" id="mem">MEM: 00.00%</span>
            		<span class="badge" id="disk">DISK: 00.00%</span>
            	</a></li>
                <li><a target="blank" href="{{ctx.contextPath}}/admin/login">高级设置</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">任务管理</a>
                    <ul style="display: block;">
                        <li class="active"><a href="{{ctx.contextPath}}/task/split/list">切割任务</a></li>
                        <li><a href="{{ctx.contextPath}}/task/dispatch/list">分发任务</a></li>
                        <li><a href="{{ctx.contextPath}}/task/realplay/list">实时文件播放任务</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">通用管理</a></li>
            </ul>
            <footer class="footer navbar-fixed-bottom">
			</footer>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <div class="page-header">
                <h1>切割任务
                    <small>列表</small>
                    <a href="{{ctx.contextPath}}/task/split/new" type="button" class="btn btn-primary"> 新增 </a>
	                <div class="btn-group pull-right">
						<button type="button" class="btn btn-primary" id="refresh_btn" onclick="refresh()">手动刷新</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">切换下拉菜单</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="refresh(5)">自动刷新(5s)</a></li>
							<li><a href="#" onclick="refresh(10)">自动刷新(10s)</a></li>
							<li class="divider"></li>
							<li><a href="#" onclick="refresh()">手动刷新</a></li>
						</ul>
					</div>
                </h1>
            </div>


            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>切割任务名称</th>
                        <th>模板名称</th>
                        <th>状态</th>
                        <th>开始时间</th>
                        <!-- <th>结束时间</th> -->
                        <th>任务描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#splitTasks}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{taskName}}</td>
                        <td>{{splitTemplate.name}}</td>
                        <td class="{{#isFail}}error{{/isFail}}">{{statusText}}</td>
                        <td>{{#startTime}}{{.}}{{/startTime}}</td>
                        <!-- <td>{{#endTime}}{{.}}{{/endTime}}</td> -->
                        <td>{{#taskDesc}}{{.}}{{/taskDesc}}</td>
                        <td>
                        	<form id="delForm_{{id}}" class="form-horizontal" method="post" action="{{ctx.contextPath}}/task/split/{{id}}/delete" onsubmit="return delCheck()">
	                            <a href="{{ctx.contextPath}}/task/split/{{id}}/view" data-toggle="modal" data-target="#myModal">详细</a>
	                            {{#isDispatch}}<a href="{{ctx.contextPath}}/task/split/{{id}}/dispatch" target="self">分发</a>{{/isDispatch}}
	                            {{#isDispatch}}<a href="#" data-toggle="modal" data-target="#downloadModal" data-id="{{id}}">下载</a>{{/isDispatch}}
	                            {{#isDelete}}<a href="#" onclick="$('#delForm_{{id}}').submit()">删除</a>{{/isDelete}}
                            </form>
                        </td>
                    </tr>
                    {{/splitTasks}}
                    </tbody>
                </table>
                {{#pagination}}
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        {{#hasPreviousPage}}
                        <li>
                            <a href="{{previousPageUri}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/hasPreviousPage}}
                        {{#pageList}}
                        {{#isCurrent}}
                        <li class="active"><a>{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{^isCurrent}}
                        <li><a href="{{pageUri}}">{{pageNo}}</a></li>
                        {{/isCurrent}}
                        {{/pageList}}
                        {{#hasNextPage}}
                        <li>
                            <a href="{{nextPageUri}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/hasNextPage}}
                    </ul>
                </nav>
                {{/pagination}}
            </div>
        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:850px">
		<div class="modal-content"></div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">打包下载分割文件</h4>
            	<p class="alert alert-danger" role="alert" style="display:none">
            		<em>系统提示：</em><span id="msg"></span>
            	</p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-3 control-label">状态:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" id="status">正在获取文件...<img src='{{ctx.contextPath}}/css/img/small-loading.gif'></p>
                        <a href="#" id="download_btn" class="btn btn-primary" style="display:none">下 载</a>
                        <input type="hidden" name="taskId" id="taskId">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
		</div>
	</div>
</div>

<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script>
<script>
$(function(){
	setRefreshText({{#refresh}}{{refresh}}{{/refresh}});

	$('#downloadModal').on('show.bs.modal', function (event) {
		$("#taskId").val($(event.relatedTarget).data("id"));
		goPackage();
	});
	$('#downloadModal').on('hide.bs.modal', function() {
		$(this).find(".alert").hide();
    	$('#status').html("");
		$('#download_btn').hide();
		$('#download_btn').attr("href", "#");
	});
})
function delCheck(){
	return confirm("确认要删除此记录？");
}

function setRefreshText(s){
	if(typeof(s) != 'undefined'){
		$("#refresh_btn").html("自动刷新("+s+"s)");
		$("#refresh_btn").attr("onclick","refresh("+s+")");
	}
}

function refresh(s){
	var url = "/task/split/list"
	if(typeof(s) != 'undefined'){
		url = "/task/split/list?a="+s
	}
	window.location.href = url;
}

function goPackage(){
	$.ajax({
        url: "/task/split/"+$('#taskId').val()+"/package",
        type: "POST",
        success: function(data){
            if(data != "-1"){
            	loadPackageStauts(data);
            }else{
	        	$('#status').html("文件已经不存在");
            }
        }
    });
}

function loadPackageStauts(uuid){
	$.ajax({
        url: "/job/"+uuid,
        success: function(data){
            if(data != "-1"){
	        	var obj = $.parseJSON(data);
	        	if(obj.state == 1){
		        	$('#status').html(obj.status);
	        		$('#download_btn').attr("href", "/download/"+obj.taskId+"/0");
	        		$('#download_btn').show();
	        	}else if(obj.state == 0){
		        	$('#status').html(obj.status + " <img src='/css/img/small-loading.gif'>");
	        		setTimeout("loadPackageStauts('"+uuid+"')", 2000);
	        	}else{
		        	$('#status').html(obj.status);
	        	}
            }else{
	        	$('#status').html("任务已经不存在");
            }
        }
    });
}
</script>
</body>
</html>
