<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增切割任务 - 欧司朗照明视频切分软件</title>
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bootstrapValidator.min.css">
    <!--[if lt IE 9]>
    <script src="{{ctx.contextPath}}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ctx.contextPath}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ctx.contextPath}}/css/bijie.css">
    <style></style>
</head>

<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
           <div><span class="logo"><img src="/css/img/title.png" height="28" width="420"></span></div>
           
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#">
            		<!-- <span class="badge" id="cpu">CPU: 00.00%</span> -->
            		<!-- <span class="badge" id="mem">MEM: 00.00%</span> -->
            		<!-- <span class="badge" id="disk">DISK: 00.00%</span> -->
            	</a></li>
                <!-- <li><a target="blank" href="{{ctx.contextPath}}/admin/set">高级设置</a></li> --><li class="logout"><a href="#" onclick="logout()">[注销]</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active submenu open">
                    <a href="#">控制中心</a>
                    <ul style="display: block;">
                        <li class="active"><a href="{{ctx.contextPath}}/task/split/list">视频切割</a></li>
                        <li><a href="{{ctx.contextPath}}/task/dispatch/list">视频分发</a></li>
                        <li><a href="{{ctx.contextPath}}/task/realplay/list">实时播放</a></li>
                    </ul>
                </li>
                <li><a href="{{ctx.contextPath}}/manage/sub_system/list">配置中心</a></li>
                <li><a href="{{ctx.contextPath}}/admin/set">管理中心</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#message}}
            <p class="alert {{#hasError}}alert-danger{{/hasError}}{{^hasError}}alert-success{{/hasError}}" role="alert">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>{{message}}</p>
            {{/message}}
            <p id="errMsg" class="alert alert-danger" style="display:none">
            	<a href="#" class="close" data-dismiss="alert">&times;</a><em>系统提示：</em>
            	<span id="msg"></span>
            </p>
            <div class="page-header">
                <h1>切割任务
                    <small>新增</small>
                </h1>
            </div>
            <form class="form-horizontal" method="post" id="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">切割任务名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  name="taskName" placeholder="切割任务名称" value="{{#splitTask}}{{#taskName}}{{.}}{{/taskName}}{{/splitTask}}"  required maxlength="30">
                        {{#taskNameErr}}<span class="error">{{.}}</span>{{/taskNameErr}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">切割模板名称</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="splitTemplate.id" id="templateId" onchange="changeTemplate()">
                        	{{#templates}}
                        	<option value="{{id}}">{{name}}</option>
                        	{{/templates}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">模板切割区域</label>
                    <div class="col-sm-10">
                        <div class="table-responsive">
			                <table class="table table-striped">
			                    <thead>
			                    <tr>
			                        <!--<th>#ID</th> -->
			                        <th>e:cue设备</th>
			                        <th>左上角横坐标</th>
			                        <th>左上角纵坐标</th>
			                        <th>区域宽度</th>
			                        <th>区域高度</th>
			                        <th>文件名称</th>
			                    </tr>
			                    </thead>
			                    <tbody id="area_div"></tbody>
			                </table>
			            </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">源视频文件</label>
                    <div class="col-sm-10">
	                    <label class="btn btn-primary fileinput-button" style="width:200px" data-placement="auto right" data-trigger="manual">
	                 		<i class="glyphicon glyphicon-upload"></i>
	                    	<span>源视频文件选择</span>
	               			<input type="file" name="file" accept="video/x-ms-wmv">
	                     </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">自定义文件名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  name="defaultFileName" placeholder="自定义文件名称" value="{{#splitTask}}{{#defaultFileName}}{{.}}{{/defaultFileName}}{{/splitTask}}">
                        {{#defaultFileNameErr}}<span class="error">{{.}}</span>{{/defaultFileNameErr}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">任务密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control"  name="taskPassword" placeholder="任务密码" required>
                        {{#taskPasswordErr}}<span class="error">{{.}}</span>{{/taskPasswordErr}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCode" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="taskDesc" placeholder="任务描述" rows="5" maxlength="100" required>{{#splitTask}}{{#taskDesc}}{{.}}{{/taskDesc}}{{/splitTask}}</textarea>
                        {{#taskDescErr}}<span class="error">{{.}}</span>{{/taskDescErr}}
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">提 交</button>
                        <a href="{{ctx.contextPath}}/task/split/list" class="btn btn-default">返 回</a>
                        <span id="submiting"></span>
                    </div>
                </div>
                <input type="hidden" name="areaJson" id="areaJson"/>
            </form>
        </div>
    </div>
</div>
<script src="{{ctx.contextPath}}/js/jquery-1.11.3.min.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrap.min.js"></script><script src="{{ctx.contextPath}}/js/bijie.js"></script>
<script src="{{ctx.contextPath}}/js/bootstrapValidator.min.js"></script>
<script>
$(function() {
	//选择文件后提交
    $(".fileinput-button").on("change", "input[type='file']", function() {
    	var fileName = $("input[name='file']").val();
    	fileName = fileName.substr(fileName.lastIndexOf("\\")+1);
    	if(fileName != ''){
	    	$('.fileinput-button').attr('data-original-title',fileName);
	    	$('.fileinput-button').tooltip("show");
    	}else{
	    	$('.fileinput-button').tooltip("hide");
    	}
    });
    $('#templateId').val({{#splitTask}}{{#splitTemplate.id}}{{.}}{{/splitTemplate.id}}{{/splitTask}});
    changeTemplate();
    $("#form").bootstrapValidator({
   		fields:{taskPassword:{validators:{ 
			remote:{
					url : '/task/valid/pwd',
					message : "任务密码不正确",
					type : 'POST',
                    delay: 1000
				}}}}
    }).on('success.form.bv', function (e) {
        e.preventDefault();
        goSubmit();
    });
});

var area_json = [];
function changeTemplate(){
	var templateId = $('#templateId').val();
    $.ajax({
        url: "/manage/split_templates/"+templateId+"/getAreas",
        type: "POST",
        async: true,
        dataType: "JSON",
        success: function(data){
        	area_json = data;
        	$('#area_div').html("");
            if(data.length > 0){
            	$.each(data, function(n, obj){
            		putArea(obj);
            	})
            }
        }
    });
}

function putArea(obj){
	var newArea = "<tr><td>" + obj.subSystem.name +" [" + obj.subSystem.ip + "]</td><td>";
	newArea += obj.x + "</td><td>";
	newArea += obj.y + "</td><td>";
	newArea += obj.width + "</td><td>";
	newArea += obj.height + "</td><td>";
	newArea += "<input type='text' class='form-control' data-id='"+obj.id+"' placeholder='自定义文件名称'></td></tr>";
	$('#area_div').append(newArea);
}

function goSubmit(){
	if(confirm("一旦创建成功不可修改，确认提交？")){
		$("input[data-id]").each(function(){
			var areaId = $(this).attr("data-id");
			var customName = $(this).val();
			$.each(area_json, function(n, obj){
	    		if(obj.id == areaId){
	    			area_json[n].customFileName = customName;
	    		}
	    	})
		});
		$("#submiting").html("<img src='/css/img/small-loading.gif'>状态检查中,请稍候...");
	    $.ajax({
	        url: "/task/split/ecue_status",
	        type: "POST",
	        async: true,
	        dataType: "text",
	        success: function(data){
	        	data = eval("("+data+")");
				if(data.error_code == 0){
					$('#errMsg').hide();
					$("#submiting").html("<img src='/css/img/small-loading.gif'>上传中,请稍候...");
					$('#areaJson').val(JSON.stringify(area_json));
		    		$("input[name='taskPassword']").val($.md5($("input[name='taskPassword']").val()));
		    		$("#form").data('bootstrapValidator').disableSubmitButtons(true).defaultSubmit();
		    		$('#form').find('input,select,textarea').each(function(){
		    			$(this).attr("disabled","true");
		    		});
				}else{
					$("#submiting").html("");
					$('#msg').html(data.msg);
					$('#errMsg').show();
					$('#form').bootstrapValidator('disableSubmitButtons', false);
				}
	        }
	    });
	}else{
		$('#form').bootstrapValidator('disableSubmitButtons', false);
	}
}


</script>
</body>
</html>
